fastapi
uvicorn
gunicorn
sqlmodel
dashscope
pandas
scikit-learn
python-multipart
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.2
pydantic-settings
python-dotenv
matplotlib
seaborn
jinja2
openpyxl
